@model List<Movie>

@{
    ViewBag.Title = "Lista de Filmes";
}

<div class="container">
    <h2>Lista de Filmes</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Adicionar Filme</a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Título</th>
            <th>Diretor</th>
            <th>Ano</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Year</td>
                <td>
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info">Detalhes</a>
                    @* <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning">Editar</a> *@
                    @* <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Excluir</a> *@
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>